body {
    font-family: Arial, sans-serif;
    background-color: #e5e7eb;
    color: #1f2937;
}


.main-header {
    background-color: #111111;
    color: #facc15;
    text-align: center;
    padding: 40px;
}


.main-header h1 {
    font-size: 48px;
}


.navbar {
    text-align: center;
    background-color: #374151;
    padding: 15px;
}


.navbar a {
    text-decoration: none;
    color: #f3f4f6;
    font-weight: bold;
    padding: 10px 15px;
}


.navbar a:hover {
    background-color: #facc15;
    color: #111111;
}


.navbar .active {
    background-color: #facc15;
    color: #111111;
}


.content {
    width: 80%;
    margin: 30px auto;
    background-color: white;
    padding: 30px;
}


.content h2 {
    color: #111111;
}


.content h3 {
    color: #d97706;
}


.highlight-box {
    background-color: #fef3c7;
    border-left: 5px solid #facc15;
    padding: 20px;
}


.content a {
    color: #d97706;
    font-weight: bold;
}


.footer {
    text-align: center;
    padding: 20px;
    background-color: #111111;
    color: #facc15;
}



